body {
    font-family: var(--Text);
    line-height: 1.6;
    
}



.location {
    margin: 20px;
    padding: 20px;
    border: 1px solid var(--Secondary);
    border-radius: 5px;
 background-color: var(--Pale);
 overflow: hidden;
 
}

.location h2 {
    color: var(--FontColor);
    margin-bottom: 10px;
    font-family: var(--Spice);
    font-weight:bolder;
    text-align: center;
    
}

.location h3 {

    font-family: var(--Ad);
    font-size: 1.5em;
    text-align: center;
    padding-top: 20px;
}
.location p {
    font-family: var(--Text);
    margin-bottom: 20px;
    text-align: center ;
}
.location img {

    width:100%;
    margin:auto;
    display:block;


}

table {

    width: 100%
    
}
   
 


 th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: var(--LightColor);
}

td {
    background-color: var(--Bright);
    font-family: var(--Text);
   
}

    h1 {
        animation: flicker 1.5s infinite alternate;
      color: var(--FontColor);
        text-align: center;
      
    }



@keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
      text-shadow:
        0 0 4px #fff,
        0 0 11px var(--Secondary),
        0 0 19px var(--Secondary),
        0 0 40px var(--Secondary),
        0 0 80px var(--Secondary),
        0 0 90px var(--Secondary),
        0 0 100px var(--Secondary),
        0 0 150px var(--Secondary);
    }
    20%, 24%, 55% {       
      text-shadow: none;
    }
  }





@media (min-width: 768px) {
  

.location {

 margin: 8% 8% 8% 8%
   
}

.location img {

    width:50%;
}
table {
    width:50%;
    margin: 0 auto;
}
}